[user]
    name = Jussi Vaihia
	email = jussiava@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
    # place into project root for relative paths to work
    excludesfile = /opt/gitignore
	editor = nano
[alias]
	hist = log -35 --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

